  /* Style the project blocks */
  .project-block {
    display: inline-flex;
    flex-direction: column;
    width: 300px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    
  }

  .project-block:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }

  /* Style the project images */
  .project-block img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  /* Style the project text */
  .project-block .project-text {
    padding: 10px;
  }

  .project-block h3 {
    font-size: 20px;
    margin: 0;
  }

  .project-block p {
    font-size: 16px;
    margin: 10px 0;
  }

  /* Style the filter buttons */
  .filter-btn {
    background-color: #333;
    border: none;
    color: white;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
  }

  .filter-btn:hover {
    background-color: #555;
  }

  /* Style the active button */
  button.active,
  .filter-btn:hover {
    background-color: #4caf50;
  }

    